In [1]:
# Install dependencies as needed:
# pip install kagglehub[pandas-datasets]
# import kagglehub
# from kagglehub import KaggleDatasetAdapter

# # Set the path to the file you'd like to load
# file_path = " .csv"

# # Load the latest version
# df = kagglehub.load_dataset(
#   KaggleDatasetAdapter.PANDAS,
#   "amruthayenikonda/dirty-dataset-to-practice-data-cleaning",
#   file_path,
#   # Provide any additional arguments like 
#   # sql_query or pandas_kwargs. See the 
#   # documenation for more information:
#   # https://github.com/Kaggle/kagglehub/blob/main/README.md#kaggledatasetadapterpandas
# )

# print("First 5 records:", df.head())

In [2]:
import pandas as pd
unclean_data=pd.read_csv("unclean_dataset.csv")
one=int(unclean_data["feature_1"].value_counts()[0])
two=int(unclean_data["feature_1"].value_counts()[2])
three=int(unclean_data["feature_1"].value_counts()[3])
five=int(unclean_data["feature_1"].value_counts()[4])
one,two,three,five
# unclean_data["feature_1"].value_counts()[4]

C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\1105026106.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  one=int(unclean_data["feature_1"].value_counts()[0])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\1105026106.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  two=int(unclean_data["feature_1"].value_counts()[2])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\1105026106.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  three=int(unclean_data["feature_1"].value_counts()[3])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\1105026106.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  five=int(unclean_data["feature_1"].value_counts()[4])

(190, 173, 164, 159)

In [3]:
def editMissing(x):
    y=str(x["feature_1"])
    avg=(1*one+2*two+3*three+5*five)/(one+two+three+five)
    if(y=='missing'):
        return avg
    elif(y=='nan'):
        return avg
    else:
        a=eval(y)
        return float(a)
    # print(y)
unclean_data["feature_1"]=unclean_data.apply(editMissing,axis=1)
unclean_data

      feature_1 feature_2 feature_3  output
0      2.657434        50         C       0
1      2.657434   unknown         1       0
2      3.000000        50       NaN       1
3      2.657434        50         ?       1
4      2.657434        30         ?       0
...         ...       ...       ...     ...
1045   2.000000        50         B       0
1046   1.000000        50         1       0
1047   2.657434        30         B       0
1048   5.000000        50         B       0
1049   1.000000        50         ?       0

[1050 rows x 4 columns]

In [4]:
fifty=int(unclean_data["feature_2"].value_counts()[0])
ten=int(unclean_data["feature_2"].value_counts()[1])
twenty=int(unclean_data["feature_2"].value_counts()[2])
thirty=int(unclean_data["feature_2"].value_counts()[4])
fifty,ten,twenty,thirty
unclean_data["feature_2"].value_counts()

C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\2952388957.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  fifty=int(unclean_data["feature_2"].value_counts()[0])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\2952388957.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ten=int(unclean_data["feature_2"].value_counts()[1])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\2952388957.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  twenty=int(unclean_data["feature_2"].value_counts()[2])
C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\2952388957.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  thirty=int(unclean_data["feature_2"].value_counts()[4])

feature_2
50         189
10         182
20         173
unknown    170
30         158
Name: count, dtype: int64

In [5]:
def cleanUnknown(x):
    y=x
    avg=(50*fifty+20*twenty+10*ten+30*thirty)/(fifty+twenty+ten+thirty)
    if(y=="unknown"):
        return avg
    else:
        return float(y)
unclean_data['feature_2']=unclean_data['feature_2'].apply(cleanUnknown)

In [6]:
unclean_data

      feature_1  feature_2 feature_3  output
0      2.657434  50.000000         C       0
1      2.657434  27.735043         1       0
2      3.000000  50.000000       NaN       1
3      2.657434  50.000000         ?       1
4      2.657434  30.000000         ?       0
...         ...        ...       ...     ...
1045   2.000000  50.000000         B       0
1046   1.000000  50.000000         1       0
1047   2.657434  30.000000         B       0
1048   5.000000  50.000000         B       0
1049   1.000000  50.000000         ?       0

[1050 rows x 4 columns]

In [7]:
relLifeData=pd.read_csv("real_life_dataset.csv")
relLifeData

    Customer_ID  Age  Annual_Income  Purchase_Amount Purchased
0      CUST1000   55          82600          5142.49       Yes
1      CUST1001   61         141277          5121.13        No
2      CUST1002   30          44394          3848.29        No
3      CUST1003   26         120503          4453.19       Yes
4      CUST1004   27          66424          4310.42       Yes
..          ...  ...            ...              ...       ...
995    CUST1995   63          82997          7134.77       Yes
996    CUST1996   30         134688          4885.92       Yes
997    CUST1997   64         101484          4509.70        No
998    CUST1998   67         137152          6125.56        No
999    CUST1999   29          77768          4876.11       Yes

[1000 rows x 5 columns]

In [10]:
from sklearn.preprocessing import *
from sklearn.model_selection import *
from sklearn.linear_model import *
data=relLifeData[["Age","Annual_Income","Purchase_Amount","Purchased"]]
data

     Age  Annual_Income  Purchase_Amount Purchased
0     55          82600          5142.49       Yes
1     61         141277          5121.13        No
2     30          44394          3848.29        No
3     26         120503          4453.19       Yes
4     27          66424          4310.42       Yes
..   ...            ...              ...       ...
995   63          82997          7134.77       Yes
996   30         134688          4885.92       Yes
997   64         101484          4509.70        No
998   67         137152          6125.56        No
999   29          77768          4876.11       Yes

[1000 rows x 4 columns]

In [14]:
# import matplotlib.pyplot as plt
# plt.plot(data["Annual_Income"],data["Purchase_Amount"])
# plt.show()
data["Annual_Income"]=data["Annual_Income"].apply(lambda x:float(x))
data["Annual_Income"]

C:\Users\HELLO\AppData\Local\Temp\ipykernel_3092\3169097645.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Annual_Income"]=data["Annual_Income"].apply(lambda x:float(x))

0       82600.0
1      141277.0
2       44394.0
3      120503.0
4       66424.0
         ...
995     82997.0
996    134688.0
997    101484.0
998    137152.0
999     77768.0
Name: Annual_Income, Length: 1000, dtype: float64

In [13]:
from mlxtend.plotting import plot_decision_regions
import matplotlib.pyplot as plt
from sklearn.datasets import *
model=LogisticRegression()
x,y=make_classification(n_samples=1000,n_features=2,n_informative=2,random_state=42,n_redundant=0,n_repeated=0)
model.fit(data["Annual_Income"],data["Purchase_Amount"])
plot_decision_regions(x, y, clf=model, legend=2)
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.title('Decision Region using Logistic Regression')
plt.show()

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [ ]:
# pd.Float64Dtype()